@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

:root {
  --font: "Commissioner", sans-serif;
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
}

/* CSS Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  background-image: url(../src/images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  font-family: var(--font);
  font-weight: 400;
  font-size: 1.6rem;
}

button {
  background: none;
  border: none;
  font: inherit;
}

ul {
  list-style: none;
}
